{% extends 'account/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="login-form">
    <form method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}

        

        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>
        <div class="register-link m-t-15 text-center">
            <p>Already have account ? <a href="{% url 'account_login' %}"> Sign in</a></p>
        </div>
    </form>
</div>
{% endblock content %}