<!DOCTYPE html>
<html lang="en">

    {% include 'todo/layouts/head.html' %}

    <body>
        <aside id="left-panel" class="left-panel">
            {% include 'todo/layouts/navbar.html' %}
        </aside>

        <div id="right-panel" class="right-panel">
            {% include 'todo/layouts/header.html' %}

            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">

                {% block content %}{% endblock content %}

                </div>
                <!-- .animated -->
            </div>
            <!-- /.content -->

            <div class="clearfix"></div>

            {% include 'todo/layouts/footer.html' %}
        </div>

        {% include 'todo/layouts/scripts.html' %}
    </body>
</html>